
.bookImg{
   width: 100%;
   max-width: 350px;
   border-radius: 10px;
   object-fit: cover;
}

.card{
   border-radius: 10px;
}

@media screen and (max-width: 575px) {
   .bookImg{
      height: 300px;
      width: 280px;
      object-fit: contain;
      border-radius: 10px;
   }

   .productContainer{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 30px;
   }
}
